/* bootstrap */


/* ーーーーーーーーーーーーーーーーーーーー */

/* 文字コードを指定し文字化けを避ける */
/* 主流のUTF-8 */
@charset "utf-8";

/* 開発中の暫定入力の目印 */
.temp::after {
  content: "仮置き";
  color: red;
  vertical-align: super;
  font-size: 0.9rem;
}

html {
  /* ルートフォントサイズ */
  /* 本文を1.6remで12px表示する46.875%; */
  /* 一般的なデフォルトの16pxを基準に考えやすくするため、1.6remが基準となるようにしている */
  font-size: 62.5%;
  padding: 0;
  margin: 0;

}

/* リセットCSS */
p,
ul {
  margin: 0;
  padding: 0;
}

/* ーーーーーーーーーーーーーーーーーーーー */
/* 包括設定（独特なもの上部に記載） */

span {
  display: inline-block;
}

/* aタグ内スパンのテキストを縦位置中央に */
a span {
  display: flex;
  align-items: center;
}

a {
  color: inherit !important;
  height: inherit;
}

h1 {
  margin: 0 0 30px 0 !important;
  font-size: 2.4rem !important;
  font-weight: bold !important;
}

h2 {
  margin: 40px 0px 20px !important;
  background-color: #333333;
  color: white !important;
  padding: 10px !important;
  font-size: 1.9rem !important;
}

h3 {
  margin: 40px 0px 10px !important;
  background-color: #f0f0f0;
  padding: 10px 0 !important;
  font-size: 1.9rem !important;
  border-bottom-color: #333333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

h4 {
  font-size: 1.6rem !important;
  font-weight: bold !important;
}

.area {
  margin: 10px 0;
  max-width: 100%;
}

/* ーーーーーーーーーーーーーーーーーーーー */

body {
  min-width: 200px;
  background-color: #f0f0f0 !important;
  margin: 0;
  padding: 0;
  /* 全体のデフォルトフォントサイズ */
  font-size: 1.6em !important;
  font-family: sans-serif;
  overscroll-behavior: none !important;
}

/* ーーーーーーーーーーーーーーーーーーーー */

#header-area {
  background-color: white;
  max-height: 300px;
  margin: 0;
}

#common-bar {
  height: 30px;
  background-color: black;
  margin: 0;
  padding: 0 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

#common-bar-user ul {
  margin: auto;
  list-style: none;
  display: flex;

}

/* 
#common-bar-user li{
  height: 30px;
  
} */

#common-bar-user a {
  height: 30px;
  display: flex;
  padding: 0 5px;
}

.nav-item {
  text-align: right !important;
}

#site-title {
  font-size: clamp(1px, 7vw, 84.07px);
  color: dimgray;
  margin: 0 auto;
  aspect-ratio: 1200 / 140;
  max-height: 140px;
  /* デフォルトによりflexコンテナの子要素は高さいっぱいに広がる */
  display: flex;
}

#site-title a {
  text-decoration: none;
  /* デフォルトによりflexコンテナの子要素は高さいっぱいに広がる */
  display: flex;
  flex: 1 1;
  justify-content: center
}

/* ーーーーーーーーーーーーーーーーーーーー */

#global-nav {
  height: 30px;
  display: flex;
  justify-content: center;
  /*左右中央揃え*/
  align-items: center;
  /*上下中央揃え*/
}

nav {
  width: 100%;
  max-width: 1200px;
}

nav ul {
  margin: auto;
  list-style: none;
  display: flex;
}

nav li {
  height: 30px;
  flex: 1 1;
}

nav a {
  /* flexコンテナの子要素は高さいっぱいに広がる */
  display: flex;
  flex: 1 1;
  justify-content: center;
  text-decoration: none;
  font-size: clamp(1px, 2.5vw, 14px);
}

/* ーーーーーーーーーーーーーーーーーーーー */

#advertisement-area {
  /* 広告実装後に変更 height: 280px; */
  height: 10px;
  margin: 10px auto;
}

/* ーーーーーーーーーーーーーーーーーーーー */

main {
  max-width: 1200px;
  margin: 0 auto;
  /* 記事領域の左端からサイド領域の右端まで */
  display: flex;
  /* タテ長さをバラバラに */
  align-items: flex-start;
}

#main-left {
  background-color: white;
  box-shadow: inset;
  /* スマホ全幅表示のため */
  padding: 30px 40px;
  /* 余白を係数で分配 */
  flex-grow: 1;
  overflow-x: hidden;
}

/* ーーーーーーーーーーーーーーーーーーーー */



/* ーーーーーーーーーーーーーーーーーーーー */

#table-of-contents {
  border: solid 1px #aaa;
  width: 350px;
}

#table-of-contents div {
  text-align: center;
}

#table-of-contents ul {
  list-style: none;
  padding: 8px;
}

#table-of-contents a {
  text-decoration: none;
}

/* ーーーーーーーーーーーーーーーーーーーー */

#book-img img {
  height: 200px;
}

/* ーーーーーーーーーーーーーーーーーーーー */

#main-right {
  width: 300px;
  /* 後に変更 */
  min-height: 600px;
  background-color: white;
  margin-left: 20px;
  /* flexboxを縮小させない */
  flex-shrink: 0;
}

#main-right h2 {
  margin: 0;
  font-size: 1.6rem;
}

#main-right h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

/* ーーーーーーーーーーーーーーーーーーーー */

#question-content {
  margin: 10px 0;
  overflow-wrap: break-word;
}

#question-content span {
  display: inline-block;
}

/* ーーーーーーーーーーーーーーーーーーーー */

#cards-area {
  width: 100%;
  display: flex;
  /* flexboxを改行させない */
  flex-wrap: nowrap;
  /* スクロールバー */
  overflow-x: auto;
  padding-bottom: 12px;

}

#card-title-bar {
  background-color: burlywood;
  border-radius: 10px 10px 0 0;
}

#card-title-bar h4 {
  display: flex;
  padding: 4px;
}

#one-card {
  background-color: antiquewhite;
  /* ブレイクポイント時に次のカードが見えるように */
  width: 350px;
  max-width: 85%;
  height: 200px;
  margin-right: 10px;
  /* flexboxを縮小させない */
  flex-shrink: 0;
  border-radius: 10px;
}

#card-content {
  padding: 0 4px;
  /* overflow-wrap: break-word; */
}

/* ーーーーーーーーーーーーーーーーーーーー */

@media screen and (
  /* ipadの画面幅768pxより */
  max-width: 767px) {

  h1 {
    font-size: 2.0rem !important;
  }

  h2 {
    font-size: 1.9rem !important;
  }

  h3 {
    font-size: 1.8rem !important;
  }

  body {
    font-size: 1.4rem !important;
  }

  /* #global-nav {
    display: none;
  } */

  #main-right {
    display: none;
  }

  #main-left {
    padding: 10px;
  }

}